<%- include('partials/head')  %>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-primary table-striped table-hover" id="itemData">
                    <tr>
                        <th>Item Id</th>
                        <th>Item Name</th>
                        <th>Available Quantity</th>
                        <th>Metric Type</th>
                        <th>Unit Price</th>
                        <th>Category</th>
                    </tr>
                    <% for(let item of itemData.items){ %>
                        <tr>
                            <td><%= item.id%></td>
                            <td><%= item.name%></td>
                            <td><%= item.quantity%></td>
                            <td><%= item.unit%></td>
                            <td><%= item.unitPrice%></td>
                            <td><%= item.category%></td>
                        </tr>
                    <% } %>
                </table>
            </div>
            <div class="col">
                <form class = "form-elements" action="/home/add" method="post" id="addItemsForm">
                    <div class="form-floating">
                        <input class="form-control" type="text" name = "name" id="name" placeholder="item-name" required>
                        <label for="name">Enter Item Name</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" type="number" name = "qty" id="qty" placeholder="item-quantity" required>
                        <label for="qty">Enter Item Quantity</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" type="text" name = "unit" id="unit" placeholder="item-unit" required>
                        <label for="unit">Enter Metric Unit</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" type="number" name = "price" id="price" placeholder="item-price" required>
                        <label for="price">Enter Item Unit Price</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" type="text" name = "category" id="category" placeholder="item-category" required>
                        <label for="category">Enter Item Category</label>
                    </div>
                    <div class="row">
                        <button class="btn btn-dark" id="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
        <form action="/home/staff" method="get" id="homeForm">
            <div class="row">
                <button class="btn btn-primary" id="home">Back to Home</button>
            </div>
        </form>
    </div>

    <script src="/scripts/add_items.js"></script>
</body>
</html>