<%- include('partials/head')  %> 
<div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-primary table-striped table-hover" id="itemData">
                    <tr>
                        <th>Item Id</th>
                        <th>Item Name</th>
                        <th>Available Quantity</th>
                        <th>Metric Type</th>
                        <th>Unit Price</th>
                        <th>Category</th>
                    </tr>
                    <% for(let item of itemData.items){ %>
                        <tr>
                            <td><%= item.id%></td>
                            <td><%= item.name%></td>
                            <td><%= item.quantity%></td>
                            <td><%= item.unit%></td>
                            <td><%= item.unitPrice%></td>
                            <td><%= item.category%></td>
                        </tr>
                    <% } %>
                </table>
            </div>
            <div class="col">
                <form class="form-elements" action="/home/modify" method="post" id="modifyItemsForm">
                    <div class="row form-floating">
                            <select class="form-select form-select-sm" name="modId" id="modId" required>
                                <option value="">Select Item ID</option>
                                <% for(let item of itemData.items){ %>
                                    <option value="<%= item.id  %> "><%= item.id  %> </option>
                                <% } %> 
                            </select>
                    </div>
                    <div class="row form-floating">
                            <input class="form-control" type="number" name = "quantity" id="quantity" placeholder="item-quantity" required>
                            <label for="quantity">Quantity</label>
                    </div>
                    <div class="row" id="modifyMessage"></div>
                    <div class="row">
                        <button class="btn btn-success" id="submit">Update</button>
                    </div>
                </form>
            </div>
            <div class="col">
                <form class="form-elements" action="/home/delete" method="post" id="deleteItemsForm">
                    <div class="row form-floating">
                        <select class="form-select form-select-sm" name="deleteId" id="deleteId" required>
                            <option value="">Select Item ID</option>
                            <% for(let item of itemData.items){ %>
                                <option value="<%= item.id  %> "><%= item.id  %> </option>
                            <% } %> 
                        </select>
                    </div>
                    <div class="row" id="deleteMessage"></div>
                    <div class="row">
                        <button class="btn btn-danger" id="delete">Delete</button>
                    </div>
                </form>
            </div>
        </div>
            <form action="/home/staff" method="get" id="homeForm">
                <div class="row">
                    <button class="btn btn-primary" id="home">Back to Home</button>
                </div>
            </form>
</div>
    <script src="/scripts/modify_items.js"></script>
</body>
</html> 