<%- include('partials/head')  %> 
    <div class="container">
        <div class="row">
            <table class="table" id="printedSalesData">
                <tr>
                    <th>Item Id</th>
                    <th>Item Name</th>
                    <th>Total Sales</th>
                    <th>Metric Unit</th>
                </tr>
                <% for(let item of stats){ %>
                    <tr>
                        <td><%= item.id%></td>
                        <td><%= item.name%></td>
                        <td><%= item.sales%></td>
                        <td><%= item.unit%></td>
                    </tr>
                <% } %>
            </table>
        </div>
        <form action="/home/manager" method="get" id="homeForm">
            <div class="row form-floating">
                <button class="btn btn-primary" id="home">Back to Home</button>
            </div>
        </form>
    </div>
</body>
</html>